* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.carousel {
  position: relative;
  width: calc(min(90rem, 90%)); /* Reduced width */
  margin-left: 0; /* Align elements to the left */
  padding-block: min(20vh, 3rem);
  column-gap: 3rem;
  padding-left: 20px; /* Adjust as needed */
  margin-bottom: 10;
}

/* Media Query for smaller screens */
@media screen and (min-width: 768px) {
  .carousel {
    display: flex;
    align-items: center;
    width: calc(min(90vw, 90%));
    padding-block: min(15vh, 2rem);
    column-gap: 2rem;
    padding-left: 10px; /* Adjust as needed */
    margin-bottom: 10;
  }
}

/* Media Query for even smaller screens */
@media screen and (max-width: 480px) {
  .carousel {
    align-items: center;
    width: 100%; /* Full width */
    padding-block: 0; /* No padding */
    padding-left: 0; /* No padding */
    column-gap: 0; /* No column gap */
    margin-bottom: 10;
  }
}

/* Media query for small devices */
@media only screen and (max-width: 767px) {
  .carousel-content h1 {
    font-size: 0.5rem; /* Adjust font size for smaller screens */
    line-height: 1; /* Adjust line height for smaller screens if necessary */
  }
}

/* Media query for medium devices */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .carousel-content h1 {
    font-size: 2.5rem; /* Adjust font size for medium screens */
    line-height: 1.2; /* Adjust line height for medium screens if necessary */
  }
}

.carousel-content span {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 1rem;
  color: #717171;
}

.carousel-content h1 {
  text-transform: capitalize;
  letter-spacing: 0.8px;
  font-size: 4rem;
  line-height: 1.1;
  background-color: #00a4aa;
  background-image: linear-gradient(45deg, #00a4aa, #000);
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Media Query for smaller screens */
@media screen and (max-width: 768px) {
  .carousel-content h1 {
    font-size: 3rem; /* Decrease font size for smaller screens */
  }
}

/* Media Query for even smaller screens */
@media screen and (max-width: 480px) {
  .carousel-content h1 {
    font-size: 2.5rem; /* Further decrease font size for even smaller screens */
  }
}

.carousel-content hr {
  display: block;
  background: #00a4aa;
  height: 0.25rem;
  width: 6.25rem;
  border: none;
  margin: 1.125rem 0 1.875rem 0;
}

/* Media Query for smaller screens */
@media screen and (max-width: 768px) {
  .carousel-content hr {
    width: 4rem; /* Adjust width for smaller screens */
    margin: 1rem 0 1.5rem 0; /* Adjust margin for smaller screens */
  }
}

/* Media Query for even smaller screens */
@media screen and (max-width: 480px) {
  .carousel-content hr {
    width: 3rem; /* Further adjust width for even smaller screens */
    margin: 0.75rem 0 1rem 0; /* Further adjust margin for even smaller screens */
  }
}

.carousel-content p {
  line-height: 1.6;
}

.slider-btn {
  display: inline-block;
  color: #717171;
  background: #fff;
  padding: 0.625rem 1.875rem;
  margin-top: 2.125rem;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid #c2c2c2;
  border-radius: 3.125rem;
  transition: 0.3s ease-in-out;
}

/* Media Query for smaller screens */
@media screen and (max-width: 768px) {
  .slider-btn {
    padding: 0.5rem 1.5rem; /* Adjust padding for smaller screens */
    margin-top: 1.5rem; /* Adjust margin-top for smaller screens */
    border-width: 1.5px; /* Adjust border width for smaller screens */
    border-radius: 2.5rem; /* Adjust border radius for smaller screens */
  }
}

/* Media Query for even smaller screens */
@media screen and (max-width: 480px) {
  .slider-btn {
    padding: 0.4rem 1.25rem; /* Further adjust padding for even smaller screens */
    margin-top: 1rem; /* Further adjust margin-top for even smaller screens */
    border-width: 1px; /* Further adjust border width for even smaller screens */
    border-radius: 2rem; /* Further adjust border radius for even smaller screens */
    margin-bottom: 10px;
  }
}

.slider-btn:hover {
  border: 0.125rem solid #00a4aa;
}

/* Style the Swiper container */
.myswiper {
  width: 100%;
  height: 500px; /* Increase the height as desired */
  /* padding-top: 3.125rem; */
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .myswiper {
    height: 400px; /* Adjust height for smaller screens */
  }
}

@media screen and (max-width: 480px) {
  .myswiper {
    height: 300px; /* Adjust height for even smaller screens */
  }
}

/* Style the individual slides */
.myswiper-slider {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Media Query for smaller screens */
@media screen and (max-width: 768px) {
  .myswiper-slider {
    width: 90%; /* Adjust width for smaller screens */
  }
}

/* Media Query for smaller screens */
@media screen and (max-width: 480px) {
  .myswiper-slider {
    width: 100%; /* Adjust width for even smaller screens */
    height: 20rem; /* Adjust height for even smaller screens */
  }
}

.myswiper-slider div {
  display: none;
  opacity: 0;
  padding-bottom: 10px;
}

.swiper-slide-active div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
}

.swiper-slide-active div a {
  align-self: flex-start;
}

.myswiper-slider h2 {
  color: #fff;
  font-weight: 400;
  font-size: 1.4rem;
  margin-bottom: 0.625rem;
  padding: 0 0 0 1.563rem;
}

.policies {
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  margin-bottom: 16px;
  margin-top: 20px;
}

.container {
  display: flex;
  align-items: center;
}
